<!-- <!doctype html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Xplorador</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/images/xploradoor_logo-2.png">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-slider.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/icomoon.css">
  <link rel="stylesheet" href="/assets/css/chosen.css">
  <link rel="stylesheet" href="/assets/css/prettyPhoto.css">
  <link rel="stylesheet" href="/assets/css/scrollbar.css">
  <link rel="stylesheet" href="/assets/css/morris.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/assets/css/YouTubePopUp.css">
  <link rel="stylesheet" href="/assets/css/auto-complete.css">
  <link rel="stylesheet" href="/assets/css/jquery.navhideshow.css">
  <link rel="stylesheet" href="/assets/css/transitions.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/color.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" href="/assets/css/customOwnStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
  <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head> -->
<div class="listar-home listar-homeone">
	<div class="preloader-outer">
		<div class="pin"></div>
		<div class="pulse"></div>
	</div>
	<div id="listar-wrapper" class="listar-wrapper listar-haslayout">
		<header id="listar-header" class="listar-header cd-auto-hide-header listar-haslayout">
			<div class="container">
			  <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  <strong class="listar-logo">
					<a href="index.html">
					  <img src="assets/images/xploradoor_logo-2.png" alt="company logo here" style="width: 110px;">
					</a>
				  </strong>
				  <nav class="listar-addnav">
					<ul>
					  <li class="search-sec" style="width: 300px;">
						<form class="listar-formtheme listar-formsearchlisting" style="padding: 0px;">
						  <div style="display: flex; align-items: center; background-color: white; border-radius: 20px;">
							<div style="position: relative;">
							  <i class="bi bi-briefcase" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%); color: black;"></i>
							  <input type="text" list="categories" placeholder="Search Business Categories" style="padding-left: 30px;padding-right: 0px; height: 43px;width:145px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
							  <datalist id="categories">
								<option value="Restaurant"></option>
								<option value="Salon"></option>
								<option value="Gym"></option>
								<option value="Store"></option>
								<!-- Add more options as needed -->
							  </datalist>
							</div>
							<div style="position: relative;">
							  <i class="bi bi-geo-alt" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%); color: black;"></i>
							  <input type="text" list="locations" placeholder="Location" style="padding-left: 30px;padding-right: 0px; border-radius: 0px; height: 43px; width: 95px;">
							  <datalist id="locations">
								<option value="New York"></option>
								<option value="Los Angeles"></option>
								<option value="Chicago"></option>
								<option value="Houston"></option>
								<!-- Add more options as needed -->
							  </datalist>
							</div>
							<button type="button" style="padding: 0 10px; height: 34px; border-radius: 5px; border: none; background: none;">
							  <i class="bi bi-search" style="color: black;"></i>
							</button>
						  </div>
						</form>
					  </li>
					  <li class="logsin">
						<a class="listar-btn listar-btngreen"  (click)="redirectToLogin()">
						  <span>Log In / Sign up</span>
						</a>
					  </li>
					  <li>
						<div class="profile-icon">
						  <i class="bi bi-bell"></i>
						</div>
					  </li>
					  <li>
						<div class="profile-icon">
						  <i class="bi bi-person-circle"></i>
						</div>
					  </li>
					</ul>
				  </nav>
				  <nav id="listar-nav" class="listar-nav">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#listar-navigation" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="listar-navigation" class="collapse navbar-collapse listar-navigation">
					  <ul>
						<li class="menu-item-has-children current-menu-item">
						  <a href="javascript:void(0);">Home <i class="bi bi-house-door-fill"></i></a>
						</li>
						<li class="menu-item-has-children">
						  <a href="javascript:void(0);">Explore <i class="bi bi-globe-americas"></i></a>
						</li>
						<li class="menu-item-has-children">
						  <a href="javascript:void(0);">Discovered <i class="bi bi-briefcase-fill"></i></a>
						</li>
						<li class="menu-item-has-children">
						  <a href="javascript:void(0);">Xplorador <i class="bi bi-alexa"></i></a>
						</li>
					  </ul>
					</div>
				  </nav>
				</div>
			  </div>
			</div>
		  </header>
		  
		  <div class="listar-homebannerslider">
			<div id="listar-homeslider" class="listar-homeslider owl-carousel">
				<div class="item"><figure><img src="assets/images/slider/slide1-img.jpg" alt="image description"></figure></div>
				<div class="item"><figure><img src="assets/images/slider/slide1-img.jpg" alt="image description"></figure></div>
				<div class="item"><figure><img src="assets/images/slider/slide1-img.jpg" alt="image description"></figure></div>
				<div class="item"><figure><img src="assets/images/slider/slide1-img.jpg" alt="image description"></figure></div>
				<div class="item"><figure><img src="assets/images/slider/slide1-img.jpg" alt="image description"></figure></div>
			</div>
			<div class="listar-homebanner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="listar-horizontalthemescrollbar">
								<div class="listar-themeposts listar-placesposts">
									<div class="listar-themepost listar-placespost">
										<figure class="listar-featuredimg"><a><img src="assets/images/slider/banner-slide-2.jpg" alt="image description"></a></figure>
										<div class="listar-postcontent">
											<h3><a>Tourist Guide</a></h3>
											<div class="listar-reviewcategory">
												<div class="listar-review">
													<span class="listar-stars"><span></span></span>
													<em>(3 Review)</em>
												</div>
												<a class="listar-category">
													<i class="icon-nightlife"></i>
													<span>Night Life</span>
												</a>
											</div>
											<div class="listar-themepostfoot">
												<a class="listar-location" href="javascript:void(0);">
													<i class="icon-icons74"></i>
													<em>New York</em>
												</a>
												<div class="listar-postbtns">
													<a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
													<a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
													<div class="listar-btnquickinfo">
														<div class="listar-shareicons">
															<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
														</div>
														<a class="listar-btnshare" href="javascript:void(0);">
															<i class="icon-share3"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="listar-themepost listar-placespost">
										<figure class="listar-featuredimg"><a><img src="assets/images/slider/banner-slide-1.jpg" alt="image description"></a></figure>
										<div class="listar-postcontent">
											<h3><a>Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="Verified"></i></h3>
											<div class="listar-reviewcategory">
												<div class="listar-review">
													<span class="listar-stars"><span></span></span>
													<em>(3 Review)</em>
												</div>
												<a href="" class="listar-category">
													<i class="icon-tourism"></i>
													<span>Hotel</span>
												</a>
											</div>
											<div class="listar-themepostfoot">
												<a class="listar-location" href="javascript:void(0);">
													<i class="icon-icons74"></i>
													<em>New York</em>
												</a>
												<div class="listar-postbtns">
													<a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
													<a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
													<div class="listar-btnquickinfo">
														<div class="listar-shareicons">
															<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
														</div>
														<a class="listar-btnshare" href="javascript:void(0);">
															<i class="icon-share3"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="listar-themepost listar-placespost">
										<figure class="listar-featuredimg"><a><img src="assets/images/slider/banner-slide-2.jpg" alt="image description"></a></figure>
										<div class="listar-postcontent">
											<h3><a>Tourist Guide</a></h3>
											<div class="listar-reviewcategory">
												<div class="listar-review">
													<span class="listar-stars"><span></span></span>
													<em>(3 Review)</em>
												</div>
												<a href="listingvlist.html" class="listar-category">
													<i class="icon-foods"></i>
													<span>Food+Drinks</span>
												</a>
											</div>
											<div class="listar-themepostfoot">
												<a class="listar-location" href="javascript:void(0);">
													<i class="icon-icons74"></i>
													<em>New York</em>
												</a>
												<div class="listar-postbtns">
													<a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
													<a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
													<div class="listar-btnquickinfo">
														<div class="listar-shareicons">
															<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
														</div>
														<a class="listar-btnshare" href="javascript:void(0);">
															<i class="icon-share3"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="listar-themepost listar-placespost">
										<figure class="listar-featuredimg"><a><img src="assets/images/slider/banner-slide-2.jpg" alt="image description"></a></figure>
										<div class="listar-postcontent">
											<h3><a>Tourist Guide</a></h3>
											<div class="listar-reviewcategory">
												<div class="listar-review">
													<span class="listar-stars"><span></span></span>
													<em>(3 Review)</em>
												</div>
												<a class="listar-category">
													<i class="icon-nightlife"></i>
													<span>Night Life</span>
												</a>
											</div>
											<div class="listar-themepostfoot">
												<a class="listar-location" href="javascript:void(0);">
													<i class="icon-icons74"></i>
													<em>New York</em>
												</a>
												<div class="listar-postbtns">
													<a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
													<a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
													<div class="listar-btnquickinfo">
														<div class="listar-shareicons">
															<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
														</div>
														<a class="listar-btnshare" href="javascript:void(0);">
															<i class="icon-share3"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="listar-themepost listar-placespost">
										<figure class="listar-featuredimg"><a><img src="assets/images/slider/banner-slide-1.jpg" alt="image description"></a></figure>
										<div class="listar-postcontent">
											<h3><a>Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="Verified"></i></h3>
											<div class="listar-reviewcategory">
												<div class="listar-review">
													<span class="listar-stars"><span></span></span>
													<em>(3 Review)</em>
												</div>
												<a class="listar-category">
													<i class="icon-tourism"></i>
													<span>Hotel</span>
												</a>
											</div>
											<div class="listar-themepostfoot">
												<a class="listar-location" href="javascript:void(0);">
													<i class="icon-icons74"></i>
													<em>New York</em>
												</a>
												<div class="listar-postbtns">
													<a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
													<a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
													<div class="listar-btnquickinfo">
														<div class="listar-shareicons">
															<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
														</div>
														<a class="listar-btnshare" href="javascript:void(0);">
															<i class="icon-share3"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="listar-themepost listar-placespost">
										<figure class="listar-featuredimg"><a><img src="assets/images/slider/banner-slide-2.jpg" alt="image description"></a></figure>
										<div class="listar-postcontent">
											<h3><a>Tourist Guide</a></h3>
											<div class="listar-reviewcategory">
												<div class="listar-review">
													<span class="listar-stars"><span></span></span>
													<em>(3 Review)</em>
												</div>
												<a href="" class="listar-category">
													<i class="icon-foods"></i>
													<span>Food+Drinks</span>
												</a>
											</div>
											<div class="listar-themepostfoot">
												<a class="listar-location" href="javascript:void(0);">
													<i class="icon-icons74"></i>
													<em>New York</em>
												</a>
												<div class="listar-postbtns">
													<a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
													<a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
													<div class="listar-btnquickinfo">
														<div class="listar-shareicons">
															<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
														</div>
														<a class="listar-btnshare" href="javascript:void(0);">
															<i class="icon-share3"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<main id="listar-main" class="listar-main listar-haslayout">
		</main>

		<footer id="listar-footer" class="listar-footer listar-haslayout">
			<div class="listar-footeraboutarea">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="listar-upperbox">
								<strong class="listar-logo">
									<a href="javascript:void(0);" style="display: flex; justify-content: center;">
										<img src="images/xploradoor_logo-2.png" alt="image description" width="150px">
									</a>
								</strong>
								<ul class="listar-socialicons">
									<li class="listar-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
									<li class="listar-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
									<li class="listar-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
									<li class="listar-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
									<li class="listar-vimeo"><a href="javascript:void(0);"><i class="fa fa-vimeo"></i></a></li>
								</ul>
								<nav class="listar-navfooter">
									<ul>
										<li><a href="javascript:void(0);">Home</a></li>
										<li><a href="javascript:void(0);">How it Works</a></li>
										<li><a href="javascript:void(0);">Shop</a></li>
										<li><a href="javascript:void(0);">Packages</a></li>
										<li><a href="javascript:void(0);">News</a></li>
										<li><a href="javascript:void(0);">Contact Us</a></li>
									</ul>
								</nav>
							</div>
							<div class="listar-lowerbox">
								<div class="listar-description">
									<p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet.</p>
								</div>
								<address>
									<strong>Address:</strong> ABC. <span><strong>Tel:</strong> 12345.</span>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="listar-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span class="listar-copyright">Copyright &copy; 2024. All rights reserved.</span>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
	</div>
	<!--************************************
			Theme Modal Box Start
	*************************************-->
	<div class="modal fade listar-placequickview" tabindex="-1" role="dialog">
		<div class="modal-dialog listar-modaldialog" role="document">
			<div class="modal-content listar-modalcontent">
				<div class="listar-themepost listar-placespost">
					<span class="listar-btnclosequickview" data-toggle="modal" data-target=".listar-placequickview">X</span>
					<figure class="listar-featuredimg" data-vide-bg="poster: images/post/img-16.jpg" data-vide-options="position: 50% 50%">
						<span class="listar-contactnumber">
							<i class="icon-"><img src="images/icons/icon-03.png" alt="image description"></i>
							<em> + 7890 456 133</em>
						</span>
					</figure>
					<div class="listar-postcontent">
						<h3>
							<a href="javascript:void(0);">Serena Hotel</a>
							<i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="Verified"></i>
						</h3>
						<div class="listar-description">
							<p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit Nam in mauris quis libero sodales eleifend amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus</p>
						</div>
						<ul class="listar-listfeatures">
							<li>Pets allowed</li>
							<li>Kitchen</li>
							<li>Internet</li>
							<li>Suitable for events</li>
							<li>Gym</li>
							<li>Dryer</li>
							<li>Hot tub</li>
							<li>Family/kid friendly</li>
							<li>Wireless Internet</li>
						</ul>
						<div class="listar-reviewcategory">
							<div class="listar-review">
								<span class="listar-stars"><span></span></span>
								<em>(3 Review)</em>
							</div>
							<a href="javascript:void(0);" class="listar-category">
								<i class="icon-tourism"></i>
								<span>Hotel</span>
							</a>
						</div>
						<div class="listar-themepostfoot">
							<span class="listar-openinghours">
								<i class="icon-alarmclock2"></i>
								<em>Today <span class="listar-greenthemecolor">Open Now</span> 10:00 AM - 5:00 PM</em>
							</span>
							<div class="listar-postbtns">
								<a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
								<div class="listar-btnquickinfo">
									<div class="listar-shareicons">
										<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
										<a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
									</div>
									<a class="listar-btnshare" href="javascript:void(0);">
										<i class="icon-share3"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--************************************
			Theme Modal Box End
	*************************************-->
	<!--************************************
			Login Singup Start
	*************************************-->
	<div id="listar-loginsingup" class="listar-loginsingup">
		<button type="button" class="listar-btnclose">x</button>
		<figure class="listar-loginsingupimg" data-vide-bg="poster: images/bgjoin.jpg" data-vide-options="position: 50% 50%"></figure>
		<div class="listar-contentarea">
			<div class="listar-themescrollbar">
				<div class="listar-logincontent">
					<div class="listar-themetabs">
						<ul class="listar-tabnavloginregistered" role="tablist">
							<li role="presentation" class="active">
								<a href="#listar-loging" data-toggle="tab">Log in</a>
							</li>
							<li role="presentation">
								<a href="#listar-register" data-toggle="tab">Register</a>
							</li>
						</ul>
						<div class="tab-content listar-tabcontentloginregistered">
							<div role="tabpanel" class="tab-pane active fade in" id="listar-loging">
								<form class="listar-formtheme listar-formlogin">
									<fieldset>
										<div class="form-group listar-inputwithicon">
											<i class="icon-profile-male"></i>
											<input type="text" name="username" class="form-control" placeholder="Username Or Email">
										</div>
										<div class="form-group listar-inputwithicon">
											<i class="icon-icons208"></i>
											<input type="password" name="password" class="form-control" placeholder="Password">
										</div>
										<div class="form-group">
											<div class="listar-checkbox">
												<input type="checkbox" name="remember" id="rememberpass2">
												<label for="rememberpass2">Remember me</label>
											</div>
											<span><a href="#">Lost your Password?</a></span>
										</div>
										<button class="listar-btn listar-btngreen">Register</button>
									</fieldset>
								</form>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="listar-register">
								<form class="listar-formtheme listar-formlogin">
									<fieldset>
										<div class="form-group listar-inputwithicon">
											<i class="icon-profile-male"></i>
											<input type="text" name="username" class="form-control" placeholder="Username">
										</div>
										<div class="form-group listar-inputwithicon">
											<i class="icon-icons208"></i>
											<input type="email" name="emailaddress" class="form-control" placeholder="Email Address">
										</div>
										<div class="form-group listar-inputwithicon">
											<i class="icon-lock-stripes"></i>
											<input type="password" name="password" class="form-control" placeholder="Password">
										</div>
										<div class="form-group listar-inputwithicon">
											<i class="icon-lock-stripes"></i>
											<input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password">
										</div>
										<button class="listar-btn listar-btngreen">Login</button>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
					<div class="listar-shareor"><span>or</span></div>
					<div class="listar-signupwith">
						<h2>Sign in With...</h2>
						<ul class="listar-signinloginwithsocialaccount">
							<li class="listar-facebook">
								<a href="javascript:void(0);">
									<i class="icon-facebook-1"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li class="listar-twitter">
								<a href="javascript:void(0);">
									<i class="icon-twitter-1"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="listar-googleplus">
								<a href="javascript:void(0);">
									<i class="icon-google4"></i>
									<span>Google +</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
